# PYTHON LESSONS

### Outline

* Introduction 
* Python Syntax, data types, Operators
* Conditional Statements and Loops
* Functions, Lambdas and Classes
* Pandas and Numpy

<h1 style="color:red;"><b> Data Types

Numeric Types:	`int`, `float`, `complex`<br>
Boolean Type:	`bool`<br>
Text Type:	`str` <br>
Sequence Types:	`list`, `tuple`, `range`<br>
Mapping Type:	`dict`<br>
Set Types:	`set`, `frozenset`<br>
Binary Types:	`bytes`, `bytearray`, `memoryview`<br>
None Type:	`NoneType`<br>

## Working with Data Types Examples and Exercises

## A. Intergers

In [71]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(x,",",y,",",z)

1 , 2.8 , 1j

In [75]:
# random numbers

import random

print(random.randrange(1, 18))

3

In [78]:
# Castings

x = float(1)  # from int to float   
y = int(2.8)   # from float to int
w = float("4.2") # from string to float
z = int("3") # from string to int

print(x,",",y,",",w,",", z)

1.0 , 2 , 4.2 , 3

## B. Boolean (True or False)

In [82]:
# Conditions always arrive to true or false
print(10 > 9)
print(10 == 9)
print(10 < 9)

# This concept is used to

True
False
False

## C. Strings

In [50]:
string_a = "hello"
string_b = """I am Nema and I'm teaching Python to the next ML and NLU engineers in Cameroon"""

print(string_a)
print(string_b)

hello
I am Nema and I'm teaching Python to the next ML and NLU engineers in Cameroon

### a. Strings as Arrays

In [40]:
print(string_a[0])
print(string_b[10])

h
a
l

### b. Looping and String lengths

In [44]:
for char in string_a:
    print(char)

len(string_b)

h
e
l
l
o

78

### c. Splicing, checking, String formatting and other methods

In [58]:
# splicing: first index = 0, includes the first index not the last

#string_b[5:9]
#string_b[:5]
string_a[-3:]

'llo'

In [60]:
# String formating

print(f"The first string is: {string_a}")
print(f"Modifying string A to uppercase, we get: {string_a.upper()}")
print(f"As lower case: {string_a.lower()}")

The first string is: hello

In [64]:
# Concate String

# string_x = "Jenifer"
string_x = "Shrina"
string_a + " " + string_x

'hello Shrina'

In [68]:
# check word in String

if "Cameroon" in string_b:
    print("String B contains word \"Cameroon\" ")
    print("String B contains word 'Cameroon' ")

String B contains word "Cameroon"
String B contains word 'Cameroon'

<h3 style="color: pink;"><b>Ex: String Exercise

In this exercise you will have to check if a word exist in your sentence.
1. declare a string variable, the variable should hold a sentence.
2. declare another variable which will contain the word to be checked
3. print a string in the form _'String x contains word: `word` '_ or _'String x does not contain word: `word` '_

# List, Tupples, Sets and Dictionaries

### Def: These are the four build in data types in python used to store collections of data

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members

## 1. Lists

- List items can be ordered, changed (not inmutable), and duplicated
- index starts from 0, [0,1,2]
- <class 'list'>

In [98]:
interns_list = ["Shrina","Presil","Cabriel","Jenifer","Elien"] # subject to corrections
mixed_list = ["abc", 34, True, 40, "male"]

In [84]:
# length

len(interns_list)

5

In [94]:
# accessing list items

# interns_list[4]
interns_list[1]
# interns_list[3]
# interns_list[0]
# interns_list[2:4]
# interns_list[-1]
# interns_list[:3]

'Presil'

In [104]:
# Changing Items value

# mixed_list[2] = "Nema"
# mixed_list[3:5] = [50,"engineers"]
mixed_list

['abc', 34, 'Nema', 50, 'engineers']

### Adding items to and removing items from list 
* append()
* insert()
* extend()

In [106]:
# using append, adds to the end of the list
interns_list.append("anotherIntern")
interns_list

['Shrina', 'Presil', 'Cabriel', 'Jenifer', 'Elien', 'anotherIntern']

In [107]:
# use insert to insert at any point in the list
interns_list.insert(1, "anotherInternA")
interns_list

['Shrina',
 'anotherInternA',
 'Presil',
 'Cabriel',
 'Jenifer',
 'Elien',
 'anotherIntern']

In [108]:
# use extend to add a list or 
newlist = ["Nema","Raymond"]
newtupple = ("Rosy","Cedric")
interns_list.extend(newlist)
interns_list.extend(newtupple)
interns_list

['Shrina',
 'anotherInternA',
 'Presil',
 'Cabriel',
 'Jenifer',
 'Elien',
 'anotherIntern',
 'Nema',
 'Raymond',
 'Rosy',
 'Cedric']

### Adding items to and removing items from list 
* remove()
* pop()
* del()

In [109]:
interns_list.remove("Raymond")
interns_list.remove("Nema")
interns_list.pop()
interns_list.pop(1)
del interns_list[-1]

interns_list

['Shrina', 'Presil', 'Cabriel', 'Jenifer', 'Elien', 'anotherIntern']

### Looping and List Comprehension

In [111]:
for x in interns_list:
    if "Cabriel" in x:
        print("we reached Cabriel")
    else:
        print(x)

Shrina
Presil
we reached Cabriel
Jenifer
Elien
anotherIntern

### List Comprehension
#### newlist = [expression for item in iterable if condition == True]

In [114]:
new_interns_list = [x for x in interns_list if "Intern" not in x]
new_interns_list

['Shrina', 'Presil', 'Cabriel', 'Jenifer', 'Elien']

## 2. Tupples

In [115]:
intern_tuple = ("Jenifer",)
interns_tuple = ("Jenifer","Shrina", 'Presil')

display(intern_tuple)
display(interns_tuple)

('Jenifer',)

('Jenifer', 'Shrina', 'Presil')

In [116]:
# Upack tupple

Jeni, Shrina, Presil = interns_tuple
print(Jeni)
print(Shrina)
print(Presil)

Jenifer
Shrina
Presil

## 3. Sets

## 4. Dictionaries

In [121]:
mydict = {
    "name":"Nema",
    "gender":"female",
    "is_married": False,
    "birth_month": 11
}## Getting and Setting data types data types

print(mydict)
print(f"My name is: {mydict['name']}")
print(f"Is she Male or Female: {mydict.get('gender')}")
print(f"The keys in the dictionary are: {mydict.keys()}")
print(f"List of values: {mydict.values()}")

# adding a new item

mydict["favorite_food"] = "Fufu corn and Vegetable"
print("\n Updated Dictionary:")
display(mydict)
print(f"\n {mydict.items()}")

{'name': 'Nema', 'gender': 'female', 'is_married': False, 'birth_month': 11}
My name is: Nema
Is she Male or Female: female
The keys in the dictionary are: dict_keys(['name', 'gender', 'is_married', 'birth_month'])
List of values: dict_values(['Nema', 'female', False, 11])

 Updated Dictionary:

{'name': 'Nema',
 'gender': 'female',
 'is_married': False,
 'birth_month': 11,
 'favorite_food': 'Fufu corn and Vegetable'}

 dict_items([('name', 'Nema'), ('gender', 'female'), ('is_married', False), ('birth_month', 11), ('favorite_food', 'Fufu corn and Vegetable')])

In [122]:
# updating element
mydict.update({"name":"Nema Dede"})

mydict

{'name': 'Nema Dede',
 'gender': 'female',
 'is_married': False,
 'birth_month': 11,
 'favorite_food': 'Fufu corn and Vegetable'}

In [125]:
# delete item

mydict.popitem() # Pop the last item
mydict.pop("birth_month")
del mydict["is_married"]

mydict

{'name': 'Nema Dede', 'gender': 'female'}

In [127]:
# Looping through dictionaries

print("Values")
for value in mydict.values():
    print(value)

print("\nKeys")
for key in mydict.keys():
    print(key)

print("\nKey and Value")
for key,value in mydict.items():
    print(f"{key} -> {value}")

Values
Nema Dede
female

Keys
name
gender

Key and Value
name -> Nema Dede
gender -> female

In [129]:
# Checking Variable Types

display(type(x))
display(type(string_a))
display(type(interns_list))
display(type(interns_tuple))
display(type(mydict))

str

str

list

tuple

dict

## Python Operators

### Arithmatic and Assignment Operators

`+	Addition	x + y`<br>
`-	Subtraction	x - y`<br>
`*	Multiplication	x * y`<br>
`/	Division	x / y`<br>
`%	Modulus	x % y`<br>
`**	Exponentiation	x ** y`<br>
`//	Floor division	x // y`<br>

In [ ]:
Assignment -> Check out Different Assignment Operators

## Sources and for more info

[W3school](https://www.w3schools.com/python/default.asp)

<h1 style="color:red;"><b> Conditional Statements and Loops